* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: rgba(256,256,256,87);
    background-color: #121212;
}

a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    padding: 1em;
    align-items: center;
    font-size: 18px;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    background-color: #ffffff20;
    border-radius: 5px;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

#header {
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / -1;
    align-items: center;
    justify-items: center;
    padding: 0 50px 15px 50px;
}

#sidebar {
    background-color: #121212;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    justify-content: center;
}

#main-content {
    background-color: #03dac6;
    color: #121212;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 6;
}

.pfp {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #ffffff87;
}

.username {
    display: inline-block;
    text-align: left;
}

input {
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 5px;
    margin-left: 0.5rem;
    width: 40vw;
}

.input-wrapper, .profile-wrapper, 
.button-wrapper, .greeting-wrapper {
    display: flex;
    align-items: center;
}

.profile-wrapper, 
.button-wrapper, 
.greeting-wrapper {
    gap: 1.5em;
}

.profile-wrapper, 
.button-wrapper {
    justify-self: end;
}

.greeting-wrapper {
    justify-self: start;
}

.logo {
    align-self: start;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 20px;
    display: flex;
    gap: 1rem;
    padding: 1em;
    align-items: center;
}


.navigation, .branding {
    background-color: #FFFFFF10;
    border-radius: 5px;
    margin: 5px;
}


/*
.nav {
    display: flex;
    gap: 1rem;
    padding: 1em;
    align-items: center;
    font-size: 18px;
}
*/

.nav-link {
    font-weight: bold;
}

button {
    height: 45px;
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color: #bb86fc;
}

